.container {
  background-color: #000;
  flex-direction: column;
  align-items: flex-end; /* Keeps the horizontal alignment as right */
  justify-content: flex-start; /* Align items to the top initially */
  gap: 40px;
  max-width: none;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 20px;
  display: flex;
}

@media (width<=991px) {
  .container {
    max-width: 991px;
  }
}

@media (width<=640px) {
  .container {
    max-width: 640px;
    padding: 20px 10px;
  }
}

.movieTitle {
  color: #fff;
  text-align: right;
  font-family: Impact, sans-serif;
  font-size: 72px; /* Increased font size for impact */
  font-weight: 400;
  margin: 0;
  flex-grow: 1; /* Allow the movie title to take up available space */
  display: flex; /* To center the text within the title */
  align-items: center; /* Vertically center the text within the title */
  justify-content: flex-end; /* Keep text aligned to the right */
}

@media (width<=991px) {
  .movieTitle {
    font-size: 64px; /* Increased font size for impact */
  }
}

@media (width<=640px) {
  .movieTitle {
    font-size: 60px;  /* Increased font size for impact */
  }
}

/* Click animation */
.buttonClick {
  transform: scale(0.95);
  transition: transform 0.1s ease-in-out;
}

/* Disabled state styling */
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}